.o-newsCard {
  $root: &;
  height: 100%;
  position: relative;

  &_heading {
    margin-bottom: rem(36);
    @include text-overflow(2);
    @include tablet-down {
      margin-bottom: rem(20);
    }
  }

  &_img {
    @include mobile-down {
      .a-image {
        @include aspect-ratio(582,534);
      }
    }
  }

  &_image {
    .a-image {
      #{$root}-smallTitle & {
        @include aspect-ratio(203,193);
      }
    }
  }

  &_layer {
    background: $oxford-dark-linear;
    bottom: 0;
    height: 100%;
    left: 0;
    max-height: rem(172);
    position: absolute;
    transform: rotate(-180deg);
    transition: all linear 0.1s;
    width: 100%;

    @include tablet-down {
      max-height: 80%;
    }
  }

  &_content {
    bottom: 0;
    left: 0;
    padding: 0 rem(24) rem(25);
    position: absolute;
    transition: all linear 0.3s;
    width: 100%;

    &_title {
      @include text-overflow();
    }

    &_time {
      #{$root}-smallTitle & {
        color: $black025;
        margin-top: rem(28);

        @include small-mobile {
          margin-top: rem(14);
        }
      }
    }
  }

  &:hover {
    #{$root}_content {
      bottom: rem(10);
    }

    #{$root}_layer {
      max-height: 100%;
    }
  }

  &-smallVertical {
    &:not(#{$root}-smallTitle) {
      background: #f8f8f8;
      padding: rem(12);
    }

    #{$root} {
      &_wrapper {
        align-items: center;
        display: flex;
        @include small-mobile {
          display: block; 
        }
      }

      &_content {
        margin-left: rem(20);
        padding: 0;
        position: initial;
        @include small-mobile {
          margin-left: 0;
          margin-top: rem(10);
        }
      }

      &_layer {
        display: none;
      }

      &_image {
        max-width: rem(185);
        width: 100%;
        @include small-mobile {
          max-width: 100%;
        }
      }
    }
  }
}
