.t-VMV {
  background-color: $cool-black;

  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: rem(72);
    padding-top: rem(72);

    @include tablet-down {
      padding-bottom: rem(24);
      padding-top: rem(24);
    }
  }

  &_block {
    flex: 0 0 calc(100% / 3);
    padding-left: rem(44);
    padding-right: rem(44);

    @include small-mobile-up {
      &:not(:last-child) {
        border-right: 1px solid $gainsboro;
      }
    }

    @include desktop-down {
      padding-left: rem(20);
      padding-right: rem(20);
    }

    @include small-mobile {
      flex: 0 0 100%;
      padding: rem(16);

      &:not(:first-of-type) {
        border-top: 1px solid $gainsboro;

      }
    }

    &-animate {
      &-1 {
        animation-delay: 0.25s;
      }

      &-2 {
        animation-delay: 0.45s;
      }
      
      &-3 {
        animation-delay: 0.65s;
      }
    }
  }

  &_content {
    @include adjust-flex;
    flex-direction: column;
    height: 100%;
  }

  &_list {
    margin-top: auto;

    &-item {
      align-items: center;
      display: flex;

      &:not(:first-of-type) {
        margin-top: rem(16);
      }
    }

    &-img {
      flex-shrink: 0;
      width: rem(60);

      @include desktop-down {
        width: rem(50);
      }

      @include tablet-down {
        width: rem(40);
      }

      @include mobile-down {
        width: rem(32);
      }
    }
  }
}
