.t-VMV {
  background-color: $cool-black;

  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: rem(72) rem(24);

    @include tablet-down {
      padding: rem(24) 0;
    }
  }

  &_block {
    flex: 0 0 calc(100% / 3);

    @include small-mobile-up {
      &:not(:last-child) {
        border-right: 1px solid $gainsboro;
      }
    }

    @include tablet-down {
      padding-left: rem(24);
      padding-right: rem(24);
    }

    @include small-mobile {
      flex: 0 0 100%;
      padding-top: rem(16);
      padding-bottom: rem(16);

      &:not(:first-of-type) {
        border-top: 1px solid $gainsboro;

      }
    }
  }

  &_content {
    @include adjust-flex;
    flex-direction: column;
    height: 100%;
  }

  &_list {
    margin-top: auto;

    &-item {
      display: flex;
      align-items: center;

      &:not(:first-of-type) {
        margin-top: rem(16);
      }
    }

    &-img {
      width: rem(60);
      flex-shrink: 0;

      @include desktop-down {
        width: rem(50);
      }

      @include tablet-down {
        width: rem(40);
      }

      @include mobile-down {
        width: rem(32);
      }
    }
  }
}