.a-image {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  transition: $transition-long ease;
  width: 100%;

  img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-logo {
    @include aspect-ratio(93, 73);
  }

  &-1x1 {
    @include aspect-ratio(1, 1);
  }

  &-4x3 {
    @include aspect-ratio(4, 3);
  }

  &-16x9 {
    @include aspect-ratio(16, 9);
  }

  &-1194x191 {
    @include aspect-ratio(1194, 191);
  }

  &-174x136 {
    @include aspect-ratio(174, 136);
  }

  &-93x59 {
    @include aspect-ratio(93, 59);
  }

  &-179x120 {
    @include aspect-ratio(179, 120);
  }

  &-507x370 {
    @include aspect-ratio(507, 370);
  }

  &-582x438 {
    @include aspect-ratio(582, 438);
  }

  &-1371x620 {
    @include aspect-ratio(1371, 620);
  }

  &-674x272 {
    @include aspect-ratio(674, 272);
  }

  &-350x197 {
    @include aspect-ratio(350, 197);
  }

  &-221x166 {
    @include aspect-ratio(221, 166);
  }

  &-1366x600 {
    @include aspect-ratio(1366, 600);
  }

  &-483x286 {
    @include aspect-ratio(483,286);
  }

  &-549x308 {
    @include aspect-ratio(549,308);
  }
  
  &-354x88 {
    @include aspect-ratio(354,88);
  }

  &-223x320 {
    @include aspect-ratio(223,320);
  }

  &-311x78 {
    @include aspect-ratio(311,78);
  }

  &-228x145 {
    @include aspect-ratio(228,145);
  }

  &-582x534 {
    @include aspect-ratio(582,534);
  }

  &-582x252 {
    @include aspect-ratio(582,252);
  }

  &-386x98 {
    @include aspect-ratio(386,98);
  }

  &-376x212 {
    @include aspect-ratio(376,212);
  }

  &-1366x250 {
    @include aspect-ratio(1366,250);
  }

  &-257x64 {
    @include aspect-ratio(257,64);
  }
  
  &-546x308 {
    @include aspect-ratio(546,308);
  }

  &-567x246 {
    @include aspect-ratio(567,246);
  }

  &-185x142 {
    @include aspect-ratio(185,142);
  }

  &-612x340 {
    @include aspect-ratio(612,340);
  }

  &-641x211 {
    @include aspect-ratio(641,211);
  }

  &-348x720 {
    @include aspect-ratio(348,720);
  }

  &-1364x721 {
    @include aspect-ratio(1364,721);
  }

  &-624x495 {
    @include aspect-ratio(624,495);
  }
  
  &-110x86 {
    @include aspect-ratio(110,86);
  }
  
  &-990x463 {
    @include aspect-ratio(990,463);
  }

  &-378x212 {
    @include aspect-ratio(378,212);
  }

  &-490x276 {
    @include aspect-ratio(490,276);
  }

  &-91x96 {
    @include aspect-ratio(91,96);
  }

  &-756x426 {
    @include aspect-ratio(756,426);
  }
}
