.a-image {
  display: block;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  transition: $transition-long ease;
  width: 100%;

  img {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-logo {
    @include aspect-ratio(79, 52);
  }

  &-4x3 {
    @include aspect-ratio(4, 3);
  }

  &-16x9 {
    @include aspect-ratio(16, 9);
  }

  &-1126x376 {
    @include aspect-ratio(1126, 376);
  }

  &-220x145 {
    @include aspect-ratio(220,145);
  }

  &-93x59 {
    @include aspect-ratio(93,59);
  }

  &-179x120 {
    @include aspect-ratio(179,120);
  }

  &-1371x620 {
    @include aspect-ratio(1371, 620);
  }

  &-721x303 {
    @include aspect-ratio(721,303);
  }

  &-350x197 {
    @include aspect-ratio(350,197);
  }

  &-221x166 {
    @include aspect-ratio(221,166);
  }

  &-1366x600 {
    @include aspect-ratio(1366,600);
  }
}
