.t-shareholderCard {
  $root: &;
  background: $white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    #{$root}_content_icon {
      animation: animationTranslateRight 1s ease infinite;
      background: $camel;

      &::before {
        background-image: url('~assets/icons/ic_arrow_next_white2.svg');
        transition: all linear 0.2s;
      }
    }

    #{$root}_thumbnail {
      &::before {
        transform: translateX(300%) rotate(45deg);
      }
    }
  }

  &_thumbnail {
    &-stocks {
      border-bottom: rem(1) solid $gainsboro;
      padding: rem(10) rem(32);
      max-height: rem(322);
      overflow: auto;
      @include scroll-bars(8, $gainsboro);

      @include tablet-down {
        padding: rem(14) rem(32);
      }
    }
  }

  &_wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: rem(32);

    @include desktop-down {
      display: block;
    }

    @include tablet-down {
      padding: rem(18);
    }
  }

  &_content {
    align-items: center;
    cursor: pointer;
    display: flex;

    .a-text {
      margin: 0;
    }

    @include desktop-down {
      margin-top: rem(10);
    }

    &_icon {
      background: transparent;
      height: rem(20);
      margin-left: rem(8);
      position: relative;
      width: rem(20);

      &::before {
        background-image: url('~assets/icons/ic_arrow_next_red.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        height: rem(12);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: rem(12);
      }
    }
  }
}

.t-shareholderRelations {
  &_title {
    margin-bottom: rem(52);

    @include mobile-down {
      margin-bottom: rem(40);
    }

    .a-heading {
      width: 100%;
    }
  }

  &_content {
    display: flex;
    flex-wrap: wrap;
    margin-left: rem(-16);
    margin-right: rem(-16);

    @include mobile-down {
      flex: 0 0 100%;
      margin-left: 0;
      margin-right: 0;
    }

    &_item {
      flex: 0 0 50%;
      padding-left: rem(16);
      padding-right: rem(16);

      @include mobile-down {
        flex: 0 0 100%;
        padding-left: 0;
        padding-right: 0;

        &:first-child {
          margin-bottom: rem(26);
        }
      }
    }
  }

  &_button {
    margin: rem(58) auto 0;
    max-width: rem(260);

    @include tablet-down {
      margin: rem(50) auto 0;
    }

    @include mobile-up {
      margin: rem(35) auto 0;
    }
  }
}

@keyframes animationTranslateRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(rem(10));
  }

  100% {
    transform: translateX(0);
  }
}
