.t-latestNewsCard {
  $root: &;
  height: 100%;
  position: relative;

  &_heading {
    margin-bottom: rem(36);
    @include text-overflow(2);
    @include tablet-down {
      margin-bottom: rem(20);
    }
  }

  &_wrapper {
    position: relative;
  }

  &_image {
    @include mobile-down {
      .a-image {
        @include aspect-ratio(582, 252);
      }
    }
  }

  &_layer {
    background: $oxford-dark-linear;
    bottom: 0;
    height: 100%;
    left: 0;
    max-height: rem(172);
    position: absolute;
    transform: rotate(-180deg);
    transition: all linear 0.1s;
    width: 100%;

    @include tablet-down {
      max-height: 80%;
    }
  }

  &_content {
    bottom: 0;
    left: 0;
    padding: 0 rem(24) rem(22);
    position: absolute;
    transition: all linear 0.3s;
    width: 100%;

    &_title {
      @include text-overflow();
    }
  }

  &_file {
    align-items: center;
    background: $white;
    display: flex;
    justify-content: center;
    margin-top: rem(20);
    padding: rem(10) rem(20);
  }

  &_icon {
    max-width: rem(50);
    width: 100%;
  }

  &_fileName {
    margin-left: rem(20);
    @include text-overflow(3);
    @include mobile-down {
      margin-left: rem(10);
      @include text-overflow(2);
    }
  }

  &_button {
    margin: auto;
    margin-top: rem(36);
    max-width: rem(129);

    .a-button {
      height: rem(44);
      letter-spacing: -0.02em;
      @include font-base(14, 20);
    }
    @include tablet-down {
      margin-top: rem(20);
    }
  }

  &:hover {
    #{$root}_content {
      bottom: rem(10);
    }

    #{$root}_layer {
      max-height: 100%;
    }
  }
}

.t-latestNews {
  $root: &;

  &_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-15);

    @include tablet-down {
      margin: 0 rem(-8);
    }

    @include mobile-down {
      flex: 0 0 100%;
      margin: 0;
    }
  }

  &_left,
  &_right {
    flex: 0 0 50%;
    padding: 0 rem(15);

    @include tablet-down {
      padding: 0 rem(8);
    }

    @include mobile-down {
      flex: 0 0 100%;
      padding: 0;
    }
  }

  &_right {
    @include mobile-down {
      margin-top: rem(24);
    }

    &_item {
      &:not(:first-child) {
        margin-top: rem(30);

        @include tablet-down {
          margin-top: rem(16);
        }

        @include mobile-down {
          margin-top: rem(10);
        }
      }
    }
  }

  &-hasLine {
    padding-bottom: rem(80);
    padding-top: rem(80);

    @include tablet-down {
      padding-bottom: rem(60);
      padding-top: rem(60);
    }

    @include mobile-down {
      padding-bottom: rem(40);
      padding-top: rem(40);
    }
    #{$root} {
      &_left,
      &_right {
        padding: 0 rem(30);
        @include tablet-down {
          padding: 0 rem(23);
        }
        @include mobile-down {
          border: 0;
          padding: 0;
        }
      }

      &_left {
        border-right: 1px solid $columbia-blue;
      }
    }
  }
}
