.a-text {
  margin: 0;
  @include font-base(14, 22);
  @include mobile-down {
    @include font-base(12, 20);
  }

  &-ls-005 {
    letter-spacing: 0.005em;
  }

  &-opacity07 {
    opacity: 0.7;
  }

  &-inline {
    display: inline-block;
  }

  &-16x24 {
    @include font-base(16, 24);
    @include mobile-down {
      @include font-base(14, 22);
    }
  }

  &-14x22 {
    @include font-base(14, 22);
  }

  &-12x17 {
    @include font-base(12, 17);
  }

  @include style-color();
  @include style-font-weight();
  @include style-general();
  @include style-font-family();
}
