.a-text {
  margin: 0;
  transition: $transition ease;
  @include font-base(14, 22);
  @include mobile-down {
    @include font-base(12, 20);
  }

  &-ls-005 {
    letter-spacing: 0.005em;
  }

  &-opacity07 {
    opacity: 0.7;
  }

  &-inline {
    display: inline-block;
  }

  &-14x18 {
    @include font-base(14, 18);
    @include mobile-down {
      @include font-base(12, 16);
    }
  }

  &-14x20 {
    @include font-base(14, 20);
    @include mobile-down {
      @include font-base(12, 16);
    }
  }

  &-16x24 {
    @include font-base(16, 24);
    @include mobile-down {
      @include font-base(14, 22);
    }
  }

  &-16x20 {
    @include font-base(16, 20);
    @include mobile-down {
      @include font-base(14, 22);
    }
  }

  &-18x22 {
    @include font-base(18, 22);
    @include tablet-down {
      @include font-base(16, 21);
    }
    @include mobile-down {
      @include font-base(14, 20);
    }
  }
  
  &-18x28 {
    @include font-base(18, 28);
    @include tablet-down {
      @include font-base(16, 24);
    }
    @include mobile-down {
      @include font-base(14, 22);
    }
  }

  &-20x28 {
    @include font-base(20, 28);
    @include tablet-down {
      @include font-base(16, 24);
    }
    @include mobile-down {
      @include font-base(14, 22);
    }
  }

  &-14x22 {
    @include font-base(14, 22);
  }

  &-12x17 {
    @include font-base(12, 17);
  }

  @include style-color();
  @include style-font-weight();
  @include style-general();
  @include style-font-family();
}
