.t-companyProfile {
  &_desc {
    margin-top: rem(20);
    @include mobile-down {
       margin-top: rem(10);
    }
  }

  &_image{
    max-width: rem(990);
    margin-left: auto;
    margin-right: auto;
    margin-top: rem(36);
    @include tablet-down {
      margin-top: rem(20);
    }
    @include mobile-down {
      margin-top: rem(15);
    }
  }
  &_subDesc {
    margin-top: rem(36);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(36);
    @include tablet-down {
      margin-top: rem(20);
    }
    @include mobile-down {
      margin-top: rem(15);
    }
    &-icon{
      max-width: rem(120);
      flex-shrink: 0;
      width: 100%;
      margin-right: rem(24);
    }

    &-desc {
      b{
        font-weight: 600;
        @include font-base(20, 28);
        @include mobile-down {
          @include font-base(16, 24);
        }
        @include mobile-down {
          @include font-base(14, 22);
        }
      }
    }
  }
}