.o-listFeatProjectCollapse {
  $root: &;
  
  @include tablet-up {
    max-height: rem(410);
    overflow-y: auto;
    @include scroll-bars(8, $camel);
  }

  &_item {
    &-content {
      @include text-overflow(3);
    }

    &-wrapLink {
      display: flex;
      align-items: center;
      margin: rem(12) 0 rem(16);

      @include mobile-down {
        margin: rem(8) 0;
      }

      .a-icon {
        margin-right: rem(8);
      }
    }

    &-img {
      display: none;
      margin-left: auto;
      margin-right: auto;
      max-width: rem(507);
      width: 100%;
      @include tablet-down {
        display: block;
      }
    }

    &-line {
      padding: rem(11);
      position: relative;

      &::after {
        background-color: $gainsboro;
        content: '';
        height: 1px;
        left: rem(16);
        position: absolute;
        right: rem(26);
        @include mobile-down {
          left: rem(10);
          right: rem(20);
        }
      }
    }

    &:last-child {
      #{$root}_item-line {
        &::after {
          display: none;
        }
      }
    }
  }
}
