.m-infonews {
  align-items: center;
  display: flex;
  
  &_image {
    min-width: rem(90);

    @include tablet-down {
      min-width: rem(70);
    }
  }

  &_content {
    margin-left: rem(10);

    .a-text {
      &:nth-child(2) {
        margin-top: rem(4); 
      }
    }
  }

  &_title {
    @include text-overflow(4);

    @include tablet-down {
      @include text-overflow(3);
    }
  }
}
