  .t-menu {
    $root: &;
    overflow: hidden;
    width: 100%;
    @include list-style-none();

    &_subHead {
      align-items: center;
      border-bottom: 1px solid $dark-midnight-blue;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      padding: rem(16) rem(2);

      &-last {
        cursor: pointer;
        padding-top: rem(16);
      }

      &-title {
        &:hover {
          background-color: $ghost-white;
        }
      }
    }

    &_link {
      border-bottom: 1px solid $columbia-blue;
      display: block;
      display: flex;
      padding: rem(16) 0 rem(16) rem(12);
      @include adjust-flex($justify-content: space-between);

      &.active {
        background: $white;
      }
    }

    &_subList {
      display: none;
      max-height: 0;
      opacity: 0;
      transition: all $transition ease-in-out;
      visibility: visible;
      @include list-style-none();

      &:hover {
        background: $ghost-white;
        opacity: 1;
      }
    }

    &_item-show {

      #{$root}_subList {
        display: block;
        max-height: 100%;
        opacity: 1;
        visibility: visible;
      }

      #{$root}_subHead {
        &-icon {
          transform: rotate(180deg);
          transition: all $transition ease-in-out;
        }
      }
    }
  }

  .t-regulations {
    &_top {
      @include adjust-flex($justify-content: space-between); 
      margin-top: rem(24);
      @include mobile-down {
        display: block;
        margin-top: rwm(10)
      }
    }

    &_sort {
      @include adjust-flex();
      justify-content: flex-start;
      width: 100%;
      @include mobile-down {
        display: block;
        margin-top: rem(10);
      }
      &_text {
        width: 100%;
        max-width: rem(60);
      }
      &_pulldown {
        margin-left: rem(8);
        width: 100%;
        max-width: rem(96);
        border-bottom: 1px solid $dark-midnight-blue;
        @include mobile-down {
          margin-left: 0;
          max-width: 100%;
        }
        .m-pulldown {
          border: 0;
          padding-left: rem(1);
          padding-right: 0;
          &-default {
            &__placeholder {
              color: $dark-midnight-blue;
            }
          }
        }
      }
    }
&_wrapItem {
  margin-top: rem(24);
}
    &_item {
      @include adjust-flex($justify-content: space-between); 
      border-top: 1px solid $columbia-blue;
      padding: rem(16) 0;
      position: relative;
      &:last-child {
        border-bottom: 1px solid $columbia-blue;
      }
      &::after {
        content: '';
        border: 1px solid $columbia-blue;
        height: rem(96);
        right: 24%;
        position: absolute;
      }
      @include mobile-down {
        padding: 0;
        &::after {
          display: none;
        }
      }
    }
    &_content {
      flex: 1;
      display: flex;
      align-items: center;
    }
    &_image {
      max-width: rem(91);
      width: 100%;
    }
    &_desc {
      margin-left: rem(11);
    }
    &_pagination {
      @include mobile-down {
        margin-top: rem(10);
        .o-pagination {
          justify-content: flex-end;
        }
      }
    }
    &_paginationButton {
      margin-top: rem(24);
      .o-pagination {
        justify-content: flex-end;
      }
    }
  }

  .t-investmentRelationsOtherDocument {
    &_content {
      @include adjust-flex($justify-content: space-between, $align-item: flex-start);
      @include tablet-down {
        display: block;
      }
    }

    &_left { 
      flex: 0 0 25%;
    }

    &_right {
      flex: 0 0 70%;
      @include tablet-down {
        margin-top: rem(24);
      }
    }
  }
