.m-infoContactRecruitment {
  &_groupbtn,
  &_info {
    padding: rem(24);
    border-radius: rem(5);
    box-shadow: 0 rem(25) rem(35) $chocolate-white;
    background-color: $white;
  }

  &_groupbtn {
    .a-button {
      &:nth-child(2) {
        margin-top: rem(12);
      }
    }
  }

  &_info {
    margin-top: rem(24);

    .a-divider {
      margin-top: rem(18);
      margin-bottom: rem(18);
    }
  }

  &_item {
    display: flex;
    align-items: center;
  }

  &_img {
    width: 100%;
    max-width: rem(54);
  }

  &_content {
    margin-left: rem(12);
  }
}