.a-heading {
  margin: 0;
  @include font-base(24, 32);
  @include tablet-down {
    @include font-base(21, 30);
  }
  @include mobile-down {
    @include font-base(18, 28);
  }

  &-14x22 {
    @include font-base(14, 22);
  }

  &-16x24 {
    @include font-base(16, 24);
  }

  &-20x30 {
    @include font-base(20, 30);
  }

  &-24x30 {
    @include font-base(24, 30);
    @include tablet-down {
      @include font-base(18, 24);
    }
  }

  &-32x48 {
    @include font-base(32, 48);
    @include tablet-down {
      @include font-base(28, 44);
    }

    @include mobile-down {
      @include font-base(24, 36);
    }
  }

  &-30x42 {
    @include font-base(30, 42);
    @include tablet-down {
      @include font-base(26, 40);
    }

    @include mobile-down {
      @include font-base(22, 32);
    }
  }

  &-36x40 {
    @include font-base(36, 40);
    @include tablet-down {
      @include font-base(32, 36);
    }

    @include mobile-down {
      @include font-base(28, 32);
    }
  }

  &-38x52 {
    @include font-base(38, 52);
    @include tablet-down {
      @include font-base(34, 48);
    }

    @include mobile-down {
      @include font-base(30, 44);
    }
  }

  &-60x72 {
    @include font-base(60, 72);

    @include tablet-down {
      @include font-base(38, 52);
    }

    @include mobile-down {
      @include font-base(28, 40);
    }
  }

  &-blueLinear {
    background-image: $outstanding-number-linear;
    -webkit-text-fill-color: transparent;
    @include prefixed(background-clip, text);
  }

  @include style-color();
  @include style-font-weight();
  @include style-general();
  @include style-font-family();
}
