.t-ecoSystems {
  &_title {
    text-align: center;
  }

  &_desc {
    margin: rem(38) 0;
  }

  &_brands {
    margin: rem(-15);

    &-item {
      margin: auto;
      max-width: rem(274);
      padding: rem(15);
    }
  }
}
