.t-otherDocuments {
  &_content {
    margin-top: rem(36);
    background: transparent;
    @include small-mobile {
      margin-top: rem(20);
    }
  }
  &_item {
    display: flex;
    align-items: center;
    margin: auto;
    padding: rem(12) 0;
    border-bottom: 1px solid $columbia-blue;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  &_icon {
    max-width: rem(50);
    width: 100%;
  }
  &_fileName {
    margin-left: rem(24);
    @include text-overflow(2);
  }
}