.o-tabs {
  $root: &;

  &_labels {
    align-items: center;
    border-radius: rem(3);
    display: inline-flex;
    left: 50%;
    max-width: 100%;
    overflow-x: auto;
    position: relative;
    transform: translateX(-50%);
    @include scroll-bars(8);
  }

  &_label {
    color: $dim-gray;
    font-weight: 300;
    white-space: nowrap;
    @include font-base(24, 32);

    @include tablet-down {
      @include font-base(18, 27);
    }

    @include mobile-down {
      @include font-base(16, 20);
    }

    &-16x24 {
      @include font-base(16, 24);
    }

    &-20x28 {
      @include font-base(20, 28);

      @include mobile-down {
        @include font-base(16, 22);
      }
    }

    #{$root}-white & {
      color: $white;
    }
  }

  &_tab {
    cursor: pointer;
    padding-bottom: rem(12);
    padding-left: rem(16);
    padding-right: rem(16);
    padding-top: rem(7);
    position: relative;

    // & + &:not(:first-child) {
    //   margin-left: rem(24);
    //   @include mobile-down {
    //     margin-left: rem(10);
    //   }
    // }

    &::after {
      background: $camel;
      border-radius: rem(3) rem(3) 0 0;
      bottom: 0;
      content: '';
      height: rem(3);
      left: rem(2);
      opacity: 0;
      position: absolute;
      transition: all $transition-long linear;
      visibility: hidden;
      width: 0;
      z-index: 1;
    }

    &-active {
      #{$root}_label {
        color: $camel;
        font-weight: 500;
      }

      #{$root}_label-goldenBrown {
        color: $golden-brown;
      }

      &::after {
        opacity: 1;
        visibility: visible;
        width: 100%;
      }
    }

    &-goldenBrown {
      &::after {
        background: $golden-brown;
      }
    }
  }

  &_panel {
    display: none;

    &-active {
      display: block;
      margin-top: rem(33);
    }
  }
}
