.o-tabs {
  $root: &;

  &_labels {
    border-radius: rem(3);
    align-items: center;
    display: inline-flex;
    overflow-x: auto;
    position: relative;
    @include scroll-bars(8);
    left: 50%;
    max-width: 100%;
    transform: translateX(-50%);
  }

  &_label {
    color: $black085;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;
    @include font-base(24, 32);

    &-16x24 {
      @include font-base(16, 24);
    }
    @include mobile-down {
      @include font-base(16, 20);
    }

    #{$root}-white & {
      color: $white;
    }
  }

  &_tab {
    cursor: pointer;
    padding-bottom: rem(7);
    padding-top: rem(7);
    position: relative;

    & + &:not(:first-child)  {
      margin-left: rem(24);
      @include mobile-down {
        margin-left: rem(10);
      }
    }

    &::after {
      background: $light-french-beige;
      bottom: 0;
      content: "";
      height: rem(2);
      left: 0;
      opacity: 0;
      position: absolute;
      transition: all $transition-long linear;
      visibility: hidden;
      width: 0;
      z-index: 1;
    }

    &-active {
      #{$root}_label {
        color: $light-french-beige;
        font-weight: 700;
      }

      &::after {
        opacity: 1;
        visibility: visible;
        width: 100%;
      }
    }
  }

  &_panel {
    display: none;

    &-active {
      display: block;
      margin-top: rem(33);
    }
  }
}
