.o-collapses {
  $root: &;
  background: transparent;
  transition: all $transition linear;

  &_wrapTitle {
    cursor: pointer;
    padding: rem(13) rem(16);
    @include adjust-flex(space-between, center);
    transition: all $transition linear;
    @include mobile-down {
      padding: rem(8);
    }
  }

  &_icon {
    margin-right: rem(12);
    transform: rotate(-180deg);
    transition: all $transition linear;
  }

  &_wrapper {
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: all $transition linear;

    &-active {
      max-height: fit-content;
    }
  }

  &_description {
    padding: rem(3) rem(16);
  }

  &-active {
    #{$root}_icon {
      transform: rotate(0);
    }
  }
}
