.t-section {
  margin-bottom: rem(80);
  margin-top: rem(80);

  @include tablet-down {
    margin-bottom: rem(60);
    margin-top: rem(60);
  }

  @include mobile-down {
    margin-bottom: rem(40);
    margin-top: rem(40);
  }
}