.t-projectListMap {
  &_content {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(52);

    @include mobile-down {
      margin-top: rem(20);
    }
  }

  &_info {
    flex: 0 0 40%;

    @include small-mobile {
      flex: 0 0 100%;
    }

    &_pulldown {
      margin-top: rem(8);
    }

    &_select + &_select {
      margin-top: rem(24);
      @include mobile-down {
        margin-top: rem(16);
      }
    }
  }

  &_map {
    flex: 0 0 60%;
    padding-left: rem(70);
    position: relative;

    @include tablet-down {
      padding-left: rem(40);
    }

    @include small-mobile {
      flex: 0 0 100%;
      margin: rem(20) auto 0;
      max-width: 100%;
      padding-left: 0;
    }

    &_loading {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &_wrapper {
      height: 550px;
      position: relative;
      width: 100%;
    }

    .a-loader-circle {
      align-items: center;
      display: flex;
      height: 100%;
    }
  }
}
