.t-featuredProjects {
  $root: &;

  &_collapseList {
    background-color: $ghost-white;
    flex-wrap: wrap;
    margin-top: rem(52);
    @include adjust-flex(center, stretch);
    @include tablet-down {
      margin-top: rem(24);
    }
    @include mobile-down {
      margin-top: rem(16);
    }

    &_left,
    &_right {
      flex: 0 0 50%;
    }

    &_left {
      padding: rem(27) rem(16) rem(27) rem(24);

      @include tablet-down {
        flex: 0 0 100%;
        padding: rem(16);
      }
      
      @include mobile-down {
        padding: rem(8);
      }
    }

    &_right {
      .a-image {
        height: 100%;
        max-width: 100%;
      }
      @include tablet-down {
        display: none;
      }

      &_image {
        display: none;
        height: 100%;

        &-show {
          display: block;
        }
      }
    }
  }
}
