.t-awardList {
  background-color: $white-smoke2;

  &_desc {
    margin: rem(24) 0 rem(32);
  }

  &_tabs {
    &_panelWrap {
      @include adjust-flex(center, stretch);
      flex-wrap: wrap;

      &-item {
        flex: 0 0 calc(100% / 4 - 33px);
        padding: rem(16.5);
        @include tablet-down {
          flex: 0 0 calc(100% / 2 - 33px);
        }
        @include mobile-down {
          flex: 0 0 100%;
        }
      }
    }
  }

  &_card {
    @include adjust-flex(space-between, center);
    background-color: $white;
    flex-direction: column;
    height: 100%;

    &_img {
      align-items: center;
      display: flex;
      height: rem(200);
      justify-content: center;
      margin-bottom: rem(10);
      margin-top: rem(4);
      width: 100%;

      img {
        max-height: rem(200);
        max-width: rem(200);
      }
    }

    &_desc {
      padding-left: rem(16);
      padding-right: rem(16);
    }

    &_year {
      background-color: $cool-black;
      height: rem(50);
      margin-top: rem(8);
      max-width: rem(116);
      position: relative;
      width: 100%;
      @include prefixed(clip-path, polygon(50% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%));

      &-clip {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -40%);
      }
    }
  }
}
