@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes move {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeInBlur {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animationFramesLeft {
  0% {
    transform: scale(0.8);
    transform: translate(20%, 0) rotate(0deg) scale(0.8);
  }

  50% {
    transform: scale(1);
    transform: translate(-50%, 0) rotate(8deg) scale(1.4);
  }

  100% {
    transform: scale(1);
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
}

@keyframes animationFramesRight {
  0% {
    transform: scale(0.8);
    transform: translate(-20%, 0) rotate(0deg) scale(0.8);
  }

  50% {
    transform: scale(1);
    transform: translate(50%, 0) rotate(8deg) scale(1.4);
  }

  100% {
    transform: scale(1);
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
}


@keyframes beatSmall {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scaleX {
  from {
    opacity: 0;
    transform: scaleX(0);
  }

  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes scaleY {
  from {
    opacity: 0;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes flipInY {
  from {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    visibility: hidden;
  }

  40% {
    animation-timing-function: ease-in;
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
  }

  60% {
    opacity: 1;
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    opacity: 1;
    transform: perspective(400px);
    visibility: visible;
  }
}

@keyframes flipOutY {
  from {
    opacity: 1;
    transform: perspective(400px);
    visibility: visible;
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    // visibility: visible;

  }

  to {
    opacity: 0;
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  }
}

:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.preanimate {
  opacity: 0;
}

.animate {
  -webkit-animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: 1s;
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  &-fadeInUp {
    animation-duration: 1s;
    animation-name: fadeInUp;
    opacity: 0;
  }

  &-slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
  }

  &-slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
  }

  &-zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
  }
  
  &-move {
    -webkit-animation-name: move;
    animation-name: move;
  }

  &-fadeInBlur {
    -webkit-animation-name: fadeInBlur;
    animation-name: fadeInBlur;
  }

  &-animationFramesLeft {
    -webkit-animation-name: animationFramesLeft;
    animation-name: animationFramesLeft;
  }

  &-animationFramesRight {
    -webkit-animation-name: animationFramesRight;
    animation-name: animationFramesRight;
  }

  &-beatSmall {
    -webkit-animation-name: beatSmall;
    animation-name: beatSmall;
  }

  &-scaleX {
    -webkit-animation-name: scaleX;
    animation-name: scaleX;
  }

  &-scaleY {
    -webkit-animation-name: scaleY;
    animation-name: scaleY;
  }
  
  &-flipInY {
    animation-name: flipInY;
    backface-visibility: visible;
  }

  &-flipOutY {
    animation-duration: calc(var(--animate-duration) * 0.75);
    animation-name: flipOutY;
    backface-visibility: visible;
  }
}

