// Primary Colors
$british-racing-green: rgb(7, 76, 49); // #074c31
$android-green: rgb(161, 192, 56); // #a1c038

// Text Colors
$raisin-black: rgb(38, 38, 38); // #262626
$davys-grey: rgb(89, 89, 89); // #595959
$gray-x11: rgb(191, 191, 191); // #bfbfbf
$white-smoke: rgb(245, 245, 245); // #f5f5f5
$snow: rgb(250, 250, 250); // #fafafa
$white: rgb(255, 255, 255); // #ffffff
$black: rgb(0, 0, 0); //#000000
$lavender-gray: rgb(189, 196, 217); //#BDC4D9
$gainsboro: rgb(217, 217, 217); //#D9D9D9
$dim-gray: rgb(109, 110, 113); //#6d6e71
$jet: rgb(47, 46, 47); //#2f2e2f
$dark-midnight-blue: rgb(11, 52, 107); //#0b346b
$oxford-blue: rgb(1, 11, 52); //#010b34
$arsenic: rgb(67, 67, 67);  // #434343

// Palette Colors
$amazon: rgb(57, 112, 90); // #39705a
$xanadu: rgb(106, 148, 131); // #6a9483
$aero-blue: rgb(207, 236, 225); // #cfece1
$green-ryb: rgb(118, 168, 38); // #76a826
$june-bud: rgb(180, 205, 96); // #b4cd60
$pale-goldenrod: rgb(217, 230, 175); // #d9e6af
$golden-brown: rgb(162, 104, 41); //#A26829

// Toast Colors
$toast-green: rgb(96, 168, 66); // #60a842
$sinopia: rgb(206, 49, 0); // #ce3100
$vivid-amber: rgb(206, 142, 0); // #ce8e00
$true-blue: rgb(0, 95, 206); // #005fce

// Others
$urobilin: rgb(223, 179, 37); // #dfb325
$antique-bronze: rgb(103, 88, 34); // #675822
$plum: rgb(161, 66, 150); // #a14296
$cyber-grape: rgb(87, 58, 116); // #573a74
$bg-white-smoke: rgb(246, 246, 246); // #f6f6f6
$cool-black: rgb(0, 43, 96); //#002B60
$metallic-sunburst: rgb(171, 119, 62); //#AB773E
$light-french-beige: rgb(199, 164, 127); // #C7A47F
$independence: rgb(60, 75, 118); //#3C4B76

// Overlays
$black0016: rgba($black, 0.016);
$black0043: rgba($black, 0.043);
$black025: rgba($black, 0.25);
$black085: rgba($black, 0.85);
$xanadu02: rgba($xanadu, 0.2);
$cool-black04: rgba($cool-black, 0.4);
$dark-midnight-blue0: rgba(11, 52, 107, 0.6);

// Linear colors
$outstanding-number-linear: linear-gradient(180deg, $dark-midnight-blue0 0%, $oxford-blue 100%);
