.mt-8 {
  margin-top: rem(8);
}

.mt-24 {
  margin-top: rem(24);
}

.mt-28 {
  margin-top: rem(28);
}

.mt-32 {
  margin-top: rem(32);
}

.mt-30 {
  margin-top: rem(30);
}

.pt-100 {
  padding-top: rem(100);
  @include tablet-down {
    padding-top: rem(50);
  }
  @include mobile-down {
    padding-top: rem(24);
  }
}

.pb-100 {
  padding-bottom: rem(100);
  @include tablet-down {
    padding-bottom: rem(50);
  }
  @include mobile-down {
    padding-bottom: rem(24);
  }
}
