// fonts
$font-path: '~assets/fonts/';
$font-kuro: 'Kuro';
$font-lexend: 'Lexend';
$font-noto: 'Noto Serif Display';
$font-lato: 'Lato';

// transition
$transition: 0.25s;
$transition-long: 0.4s;

// z-index
$z-header: 100;
$z-modal: 101;
$z-1: 1;

$standard-viewport: 1366px;

// Browser Prefixes - Which CSS prefixes should be used?
$webkit: true;
$moz: false;
$ms: false;
$o: false;
