.p-contact {
  &_mapInformation {
    padding-top: rem(93);
    height: 100vh;

    @include tablet-down {
      padding-top: rem(80);
    }
  }

  &_gallerySlide {
    padding-top: rem(40);
    padding-bottom: rem(80);
  }
}
