.p-contact {
  &_mapInformation {
    height: 100vh;
    padding-top: rem(93);

    @include tablet-down {
      padding-top: rem(80);
    }
  }

  &_transactionList {
    background: $white-smoke-8f8;
  }
}
