.t-investmentCard {
  $root: &;
  border: rem(1) solid $gainsboro;
  overflow: hidden;
  padding: rem(52) rem(40);
  position: relative;

  @include tablet-down {
    padding: rem(22) rem(18);
  }

  &:hover {
    #{$root}_detail {
      animation-duration: 0.8s;
      animation-fill-mode: both;
      animation-name: backInUp;
    }
  }

  &_detail {
    background: url('~assets/images/InvestmentSector/img_general.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    opacity: 0.7;
    padding: rem(52) rem(40);
    position: absolute;
    top: 0;
    transform: translateY(1200px) scale(0.7);
    width: 100%;
    z-index: 3;
  
    @include tablet-down {
      padding: rem(22) rem(18);
    }
  }

  &-small {
    padding: rem(32) rem(16) rem(16);

    @include tablet-down {
      padding: rem(20) rem(12) rem(12);
    }

    #{$root}_detail {
      padding: rem(32) rem(16) rem(16);

      @include tablet-down {
        padding: rem(20) rem(12) rem(12);
      }
    }

    #{$root}_icon,
    #{$root}_iconDetail {
      height: rem(80);
      width: rem(80);
    }

    #{$root}_title {
      margin-top: rem(26);
  
      @include tablet-down {
        margin-top: rem(18);
      }
  
      @include mobile-down {
        margin-top: rem(14);
      }
    }

    #{$root}_desc,
    #{$root}_descDetail {
      margin-bottom: rem(24);
      margin-top: rem(16);
  
      @include tablet-down {
        margin-bottom: rem(18);
        margin-top: rem(10);
      }
  
      @include mobile-down {
        margin-bottom: rem(15);
        margin-top: rem(8);
      }
    }
  }

  &_icon,
  &_iconDetail {
    align-items: center;
    background-color: $white;
    border: rem(2) solid $golden-brown;
    border-radius: 50%;
    display: flex;
    height: rem(120);
    justify-content: center;
    width: rem(120);

    @include tablet-down {
      height: rem(90);
      width: rem(90);
    }
  }

  &_iconDetail {
    border: 0;
  }

  &_title {
    margin-top: rem(32);
    @include text-overflow(1);

    @include tablet-down {
      margin-top: rem(20);
    }

    @include mobile-down {
      margin-top: rem(16);
    }
  }

  &_desc,
  &_descDetail {
    margin-bottom: rem(24);
    margin-top: rem(8);
    opacity: 0.8;
    @include text-overflow(3);

    @include tablet-down {
      margin-bottom: rem(15);
    }

    @include mobile-down {
      margin-bottom: rem(13);
    }
  }

  &_descDetail {
    @include text-overflow(7);
  }

  &_button {
    margin: 0 auto;
    width: 60%;
  }
}

.t-investmentSector {
  &_title {
    margin-bottom: rem(52);

    @include tablet-down {
      margin-bottom: rem(40);
    }

    @include mobile-down {
      margin-bottom: rem(25);
    }

    .a-heading {
      width: 100%;
    }
  }

  &_content {
    margin-left: rem(-16);
    margin-right: rem(-16);

    .slick-prev {
      background: $white-smoke2;
      left: calc(-96 / 1366 * 100%);

      @include desktop-down {
        left: calc(-120 / 1366 * 100%);
      }

      @include tablet-down {
        left: calc(-80 / 1366 * 100%);
      }

      @include mobile-down {
        left: calc(-100 / 1366 * 100%);
      }
    }

    .slick-next {
      background: $white-smoke2;
      right: calc(-120 / 1366 * 100%);

      @include desktop-down {
        right: calc(-150 / 1366 * 100%);
      }

      @include tablet-down {
        right: calc(-80 / 1366 * 100%);
      }

      @include mobile-down {
        right: calc(-100 / 1366 * 100%);
      }
    }

    .o-carousel_arrow {
      &:not(.slick-disabled):hover {
        background: $metallic-sunburst;
      }
    }

    .o-carousel {
      @include max-desktop-down {
        padding-left: rem(50);
        padding-right: rem(50);
      }

      @include tablet-down {
        padding-left: rem(20);
        padding-right: rem(20);
      }
    }
  }

  &_item {
    padding-bottom: rem(10);
    padding-left: rem(16);
    padding-right: rem(16);
  }
}

@keyframes backInUp {
  80% {
    opacity: 0.7;
    transform: translateY(0) scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
