/* stylelint-disable max-nesting-depth */
.o-header {
  $root: &;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: $transition-long ease;
  z-index: $z-header;
  @include adjust-flex(center, center);

  &-scrolled {
    background-color: $white;

    &::before {
      background-color: $columbia-blue;

      bottom: 0;
      content: '';
      height: rem(1);
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  @include tablet-down {
    background-color: $light-french-beige;

    &-scrolled {
      background-color: $light-french-beige;

      &::before {
        background-color: $light-french-beige;
      }
    }
  }

  &_iconMenu {
    cursor: pointer;
    display: none;

    span {
      background-color: $jet;
      display: block;
      height: rem(2);
      margin-bottom: rem(3);
      position: relative;
      transition: $transition-long ease;
      width: rem(24);

      &:nth-child(1) {
        transform-origin: left;
      }

      &:nth-child(2) {
        transform-origin: center;
      }

      &:nth-child(3) {
        transform-origin: left;
      }
    }

    &-active {
      span {
        &:nth-child(1) {
          left: 0;
          top: rem(-1);
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          right: rem(4);
          top: rem(2);
          transform: rotate(315deg);
        }

        &:nth-child(3) {
          transform: scaleX(0);
        }
      }
    }

    @include tablet-down {
      display: block;
      margin: 0 rem(11);
    }
  }

  &_logo {
    width: rem(93);
  }

  &_wrapper {
    @include adjust-flex(space-between, center);
    height: rem($height-desktop-header);

    @include tablet-down {
      height: rem($height-mobile-header);
    }
  }

  &_right {
    @include adjust-flex(unset, center);
  }

  &_menu {
    ul {
      margin: 0;
    }
  }

  &_nav {
    list-style: none;
    padding-left: 0;
    @include adjust-flex(unset, center);

    @include tablet-down {
      background-color: $light-french-beige;
      display: block;
      height: 100vh;
      overflow-y: auto;
      padding: 0 rem(44) rem(100) rem(40);
      position: fixed;
      right: -100%;
      top: rem(80);
      transition: right $transition-long linear;
      width: 100%;
      z-index: $z-menu-toggle;
    }

    @include mobile-down {
      padding: 0 rem(20) rem(50) rem(20);
    }

    &-active {
      right: 0;
    }

    &_item {
      margin-bottom: 0;
      position: relative;

      &:hover {
        #{$root}_dropdown {
          max-height: rem(320);
          visibility: visible;
        }
      }

      &:not(:nth-child(2)) {
        margin-left: rem(18);
      }

      @include max-desktop-down {
        &:not(:nth-child(2)) {
          margin-left: rem(10);
        }
      }

      @include tablet-down {
        margin-top: rem(20);

        &:not(:nth-child(2)) {
          margin-left: 0;
        }
      }
    }

    &_link {
      color: $jet;
      display: block;
      font-weight: 300;
      padding: rem(9);
      position: relative;
      text-transform: capitalize;
      transition: all 0.4s linear;
      z-index: $z-2;

      &::after {
        background-color: $dark-midnight-blue;
        bottom: rem(4);
        content: '';
        height: rem(2);
        left: rem(9);
        position: absolute;
        transition: all 0.4s linear;
        width: 0%;

        @include tablet-down {
          content: none;
        }

        @include desktop-down {
          left: rem(4);
          top: rem(23);
        }
      }

      @include font-base(14, 20);
      @include style-font-family();

      @include desktop-down {
        padding: rem(4);
      }

      @include tablet-down {
        color: $white;
      }

      &:hover,
      &.active {
        color: $dark-midnight-blue;
        opacity: 1;
        text-shadow: 0 0 rem(1) $dark-midnight-blue;

        &::after {
          opacity: 1;
          width: calc(100% - 18px);

          @include desktop-down {
            width: calc(100% - 9px);
          }
        }
      }
    }
  }

  &_dropdown {
    @include tablet-up {
      background-color: $white;
      box-shadow: inset 0 1px 4px $black025;
      left: 0;
      max-height: 0;
      opacity: 1;
      overflow: hidden;
      position: absolute;
      top: rem(65);
      visibility: hidden;
      z-index: 3;
      @include transition(all $transition-long ease-in-out);
    }

    @include desktop-down {
      top: rem(60);
    }

    @include tablet-down {
      max-height: 0;
      overflow: hidden;
      visibility: hidden;

      @include transition(all $transition-long ease-in-out);

      .o-container {
        max-width: 100%;
      }
    }

    &_wrapper {
      @include tablet-up {
        padding: rem(16) rem(20);
      }
    }

    &_content {
      @include list-style-none;
    }

    &_item {
      font-weight: 300;
      width: max-content;
      @include font-base(16, 24);

      @include tablet-up {
        &:not(:first-child) {
          margin-top: rem(16);
        }

        @include transition(all $transition-long);
      }

      @include tablet-down {
        padding-left: rem(16);
        padding-top: rem(16);
      }

      @include mobile-down {
        @include font-base(14, 22);
      }
    }

    &_nav_link {
      color: $black;
      opacity: 1;
      transition: $transition-long ease;

      &:hover {
        color: $dark-midnight-blue;
        font-weight: 600;
        opacity: 1;
      }

      @include tablet-down {
        color: $white;
      }
    }
  }

  &_search {
    cursor: pointer;
    margin-left: rem(12);
    position: relative;

    &.pc {
      @include tablet-down {
        display: none;
      }
    }

    &.mb {
      display: none;

      @include tablet-down {
        display: block;
        margin-left: 0;
        width: 100%;
      }
    }

    &_wrap {
      position: relative;
    }

    &_panel {
      background-color: $white;
      border-radius: rem(10);
      box-shadow: 0 rem(4) rem(10) $black085;
      min-width: rem(400);
      opacity: 0;
      position: absolute;
      right: 0;
      top: calc(100% + 16px);
      visibility: hidden;

      &-open {
        opacity: 1;
        padding: rem(16);
        visibility: visible;
        width: 100%;
      }

      &_input {
        position: relative;

        @include tablet-down {
          margin-top: rem(16);
          width: 100%;
        }

        .a-input_input {
          background: $white-smoke;
          border-radius: rem(20);
          padding-right: rem(40);
        }

        &_icon {
          cursor: pointer;
          position: absolute;
          right: rem(16);
          top: 50%;
          transform: translateY(-50%);
          width: rem(24);
        }
      }
    }
  }

  &_languagePicker {
    margin-left: rem(30);
    position: relative;

    @include desktop-down {
      margin-left: rem(20);
    }

    @include tablet-down {
      margin-left: 0;
    }

    &_value {
      cursor: pointer;
      @include adjust-flex(unset, center);
    }

    &_icon {
      transition: all $transition-long linear;

      &-active {
        transform: rotate(180deg);
      }
    }

    &_list {
      @include list-style-none();
      background-color: $white;
      border: rem(1) solid $june-bud;
      border-radius: rem(5);
      opacity: 0;
      padding: rem(8);
      position: absolute;
      right: 0;
      text-align: center;
      top: calc(100% + 10px);
      transition: all $transition linear;
      visibility: hidden;
      width: rem(60);
      z-index: $z-language;

      &-open {
        opacity: 1;
        visibility: visible;
      }

      &_item {
        cursor: pointer;

        &.active {
          .a-text {
            font-weight: 700;
          }
        }

        &:not(:first-child) {
          margin-top: rem(4);
        }
      }
    }
  }

  &-isPageRecruitment {
    @include tablet-up {
      #{$root} {
        &_right {
          justify-content: flex-end;
          width: 100%;
        }

        &_languagePicker {
          margin-left: 0;
        }

        &_menu {
          width: 100%;
        }

        &_nav {
          justify-content: center;
        }
      }
    }
  }
}
