.t-outstandingProjectCard {
  $root: &;

  &:hover {
    #{$root}_thumbnail {
      .a-image {
        transform: scale(1.1);
        transition: $transition-long ease;
      }
    }
  }

  &_thumbnail {
    overflow: hidden;
    position: relative;
  }

  &_title {
    margin-top: rem(16);
    @include text-overflow();

    @include tablet-down {
      margin-top: rem(10);
    }
  }
}

.t-outstandingProject {
  background: $white-smoke2;
  padding-bottom: rem(80);
  padding-top: rem(80);

  @include tablet-down {
    padding-bottom: rem(60);
    padding-top: rem(60);
  }

  @include mobile-down {
    padding-bottom: rem(40);
    padding-top: rem(40);
  }

  &_wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    @include tablet-down {
      display: block;
    }
  }

  &_title {
    width: 15%;

    @include tablet-down {
      margin-bottom: rem(10);
      width: 100%;
    }
  }

  &_content {
    margin: 0 rem(-8);
    padding-left: rem(32);
    width: 85%;

    @include tablet-down {
      padding-left: 0;
      width: 100%;
    }

    @include small-mobile {
      margin: 0;
    }

    .o-carousel_arrow {
      height: rem(40);
      width: rem(40);
    }

    .o-carousel_arrow {
      top: 42%;
    }

    .slick-arrow.slick-prev {
      left: calc(32 / 1366 * 100%);

      @include desktop-up {
        left: calc(-22 / 1366 * 100%);
      }
    }

    .slick-arrow.slick-next {
      right: calc(32 / 1366 * 100%);

      @include desktop-up {
        right: calc(-22 / 1366 * 100%);
      }
    }
  }

  &_item {
    padding: 0 rem(8);

    @include small-mobile {
      padding: 0;
    }
  }
}
