.o-footer {
  background-color: $space-cadet;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include tablet-down {
    background-size: 140%;
  }

  .o-container {
    position: relative;
    z-index: $z-2;
  }

  &_background {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: $z-1;
    @include desktop-up {
      display: none;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  &_main {
    padding-bottom: rem(100);
    padding-top: rem(100);
    @include tablet-down {
      padding-bottom: rem(60);
      padding-top: rem(60);
    }
    @include mobile-down {
      padding-bottom: rem(40);
      padding-top: rem(40);
    }

    &_menu {
      border-bottom: 1px solid $independence;
      padding-bottom: rem(32);
      @include tablet-down {
        padding-bottom: rem(16);
      }

      &_top {
        @include mobile-up {
          display: flex;
        }
      }

      &_bottom {
        display: flex;
        flex-wrap: wrap;
        margin-left: rem(-7);
        margin-right: rem(-7);
        margin-top: rem(32);
        @include tablet-down {
          margin-top: rem(16);
        }
      }

      &_wrap {
        flex: 0 0 30%;
        padding-left: rem(7);
        padding-right: rem(7);
        flex: 0 0 30%;

        &:nth-child(2) {
          flex: 0 0 40%;
        @include tablet-down {
          flex: 0 0 33.33333%;
        }

        // @include tablet-down {
        //   flex: 0 0 33.33333%;
        // }
        //xem xét
        @include small-mobile {
          flex: 0 0 50%;
          margin-top: rem(16);
        }
      }

      // &_wrap:last-child {
      //   margin-left: 10%;
      //   @include tablet-down {
      //     margin-left: 0;
      //   }
      //   @include small-mobile {
      //     flex: 0 0 100%;
      //     max-width: 100%;
      //   }
      // }

      &_list {
        list-style: none;
        margin-bottom: 0;
        margin-top: rem(16);
        padding-left: 0;
      }

      &_nav {
        padding-left: rem(20);
        position: relative;
        
        &:not(:first-child) {
          margin-top: rem(8);

          @include mobile-down {
            margin-top: rem(4);
          }
        }

        &::before {
          border-right: 1px solid $white;
          border-top: 1px solid $white;
          content: '';
          height: rem(6);
          left: 0;
          position: absolute;
          top: rem(7);
          transform: rotate(45deg);
          width: rem(6);
        }
      }

      &_icon {
        display: flex;
        justify-content: space-between;
        margin-top: rem(16);
        max-width: rem(170);
        padding: 0;
      }
    }

    &_logo {
      margin: 0 auto;
      width: rem(174);

      img {
        height: auto;
      }
    }

    &_info {
      flex: 1 0 0;
      margin-left: rem(30);
      margin-top: rem(24);
      @include mobile-down {
        margin-left: 0;
        margin-top: rem(17);
      }
    }

    &_contact {
      margin-top: rem(6);
      @include break-min(1200px) {
        @include adjust-flex(unset, center);
      }

      &_item {
        position: relative;
        @include adjust-flex(unset, center);

        .a-link {
          display: flex;
        }
  
        .a-text + * {
          margin-left: rem(8);
        }
      }

      &_item:last-child {
        @include desktop-up {
          padding-left: rem(30);
        }
      }

      &_item:last-child::before {
        @include desktop-up {
          background-color: $white07;
          bottom: 3px;
          content: '';
          left: rem(14);
          position: absolute;
          top: 3px;
          width: 1.5px;
        }
      }
    }

    &_form {
      margin-top: rem(27);

      @include tablet-down {
        margin-top: rem(10);
      }

      .o-form > form {
        display: flex;
        flex-wrap: wrap;
        margin-left: rem(-12);
        margin-right: rem(-12);
      }

      &_input {
        flex: 0 0 100%;
        padding-left: rem(12);
        padding-right: rem(12);

        @include tablet-up {
          &:not(:first-child) {
            margin-top: rem(16);
          }
        }

        @include mobile-tablet {
          flex: 0 0 50%;
          margin-top: rem(24);
        }
        @include small-mobile {
          flex: 0 0 100%;
          margin-top: rem(14);
        }
      }

      &_button {
        flex: 0 0 100%;
        padding-left: rem(12);
        padding-right: rem(12);
      }

      &_notify {
        padding-left: rem(12);
        padding-right: rem(12);
      }
    }
  }

  &_bottom {
    background-color: $oxford-blue;
    padding-bottom: rem(12);
    padding-top: rem(11);

    &_wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &_policy {
      display: flex;

      &_item {
        position: relative;
      }

      &_item:last-child {
        padding-left: rem(30);

        &::before {
          background-color: $white07;
          bottom: 3px;
          content: '';
          left: rem(14);
          position: absolute;
          top: 3px;
          width: 1.5px;
        }
      }
    }
  }
}
