.m-relatedRecruitment {
  align-items: center;
  display: flex;

  &_image {
    max-width: rem(90);
    width: 100%;
  }
  
  &_content {
    margin-left: rem(10);
  }

  &_detail {
    align-items: center;
    display: flex;
    margin-top: rem(4);
  }

  &_dot {
    background-color: $columbia-blue;
    border-radius: 50%;
    height: rem(4);
    margin: 0 rem(10);
    width: rem(4);
  }
}
