.m-relatedRecruitment {
  display: flex;
  align-items: center;

  &_image {
    width: 100%;
    max-width: rem(90);
  }
  
  &_content {
    margin-left: rem(10);
  }

  &_detail {
    display: flex;
    align-items: center;
    margin-top: rem(4);
  }

  &_dot {
    background-color: $columbia-blue;
    width: rem(4);
    height: rem(4);
    margin: 0 rem(10);
    border-radius: 50%;
  }
}