.t-leadershipCard {
  $root: &;
  cursor: pointer;

  &_wrapper {
    display: flex;
    padding: rem(24) rem(29) rem(24) rem(24);

    @include small-mobile {
      padding: rem(15) rem(20) rem(18) rem(15);
    }
  }

  &:hover {
    background: $white-smoke3;
  }

  &_icon {
    transform: rotate(180deg);
    transition: all $transition linear;
  }

  &_position {
    transition: all $transition linear;

    @include tablet-down {
      display: none;
    }
  }

  &_detail {
    display: none;

    @include tablet-down {
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: all $transition linear;
    }
  }

  &-show {
    background: $floral-white;

    #{$root}_icon {
      transform: rotate(360deg);
    }

    #{$root}_detail {
      @include tablet-down {
        max-height: max-content;
      }
    }
  }

  &_thumbnail {
    border: rem(1) solid $cool-black;
    border-radius: 50%;
    height: rem(60);
    max-width: rem(60);
    overflow: hidden;
    width: 100%;

    @include desktop-down {
      height: rem(40);
      max-width: rem(40);
    }

    img {
      position: relative;
    }
  }

  &_content {
    margin-left: rem(10);
    width: 100%;
  }

  &_name {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(11);
  }
}

.t-leadershipDetail {
  background: $white;
  border: rem(1) solid $camel;
  height: 100%;
  max-height: rem(977);
  overflow-y: auto;
  @include scroll-bars(8);

  &_wrapper {
    display: flex;
    justify-content: space-between;
    padding: rem(12) rem(86) 0 rem(37);

    @include tablet-down {
      padding: rem(12) rem(35) 0;
    }

    @include small-mobile {
      padding: rem(10) rem(15) 0;
    }
  }

  &_info {
    margin-top: rem(60);
    width: 100%;

    @include tablet-down {
      margin-top: rem(20);
    }

    @include small-mobile {
      margin-top: 0;
    }
  }

  &_name {
    margin-top: rem(2);
  }

  &_divider {
    background: $lavender-gray;
    width: 100%;
    height: rem(1);
    margin: rem(12) 0;

    @include small-mobile {
      margin: rem(6) 0;
    }
  }

  &_thumbnail {
    background: url('~assets/images/Leadership/img_leadership_background.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: rem(10);
    max-width: rem(170);
    width: 100%;

    @include desktop-down {
      max-width: rem(180);
    }

    @include mobile-down {
      max-width: rem(107);
    }

    @include small-mobile {
      margin: rem(8) auto 0;
    }
  }

  &_achievement {
    background-image: url('~assets/images/Leadership/img_leadership_background3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem(18) rem(53);
    position: relative;

    @include tablet-down {
      padding: rem(18) rem(35);
    }

    @include small-mobile {
      padding: rem(14) rem(22);
    }

    li {
      position: relative;
      @include list-style-none;

      &::before {
        background-color: $camel;
        border-radius: 50%;
        content: '';
        height: rem(6);
        left: rem(-14);
        position: absolute;
        top: rem(8);
        width: rem(6);

        @include tablet-down {
          top: rem(7);
        }

        @include small-mobile {
          left: rem(-13);
        }
      }
    }
  }

  &_item {
    &:not(:first-child) {
      margin-top: rem(16);

      @include small-mobile {
        margin-top: rem(8);
      }
    }
  }

  &_slogan {
    background: url('~assets/images/Leadership/img_leadership_background2.png');
    background-position: 5% 15%;
    background-repeat: no-repeat;

    @include tablet-down {
      background-position: 5% 10%;
    }

    @include small-mobile {
      background-position: 5%;
    }

    &_detail {
      padding: rem(30) rem(32) rem(30) rem(86);

      @include tablet-down {
        padding: rem(30);
      }

      @include small-mobile {
        padding: rem(20) rem(15);
      }
    }
  }
}

.t-leadership {
  padding-bottom: rem(80);
  padding-top: rem(80);

  @include tablet-down {
    padding-bottom: rem(60);
    padding-top: rem(60);
  }

  @include mobile-down {
    padding-bottom: rem(40);
    padding-top: rem(40);
  }

  &_wrapper {
    margin-top: rem(24);
  }

  .o-tabs_panel {
    margin-top: rem(40);
  }

  &_item {
    display: flex;
    flex-wrap: wrap;

    @include tablet-down {
      display: block;
    }

    &_left {
      flex: 0 0 30%;
      position: relative;

      @include tablet-down {
        max-height: max-content;
      }
    }

    &_right {
      flex: 0 0 70%;

      @include tablet-down {
        display: none;
      }
    }

    &_btn {
      margin: rem(18) rem(15) 0;
      @include adjust-flex();
      transition: all linear 0.3s;

      .a-button {
        width: 100%;
      }

      &:hover {
        background: $floral-white;
        transform: translateY(10px);
      }
    }

    &_card {
      &::after {
        background: $camel;
        content: '';
        height: rem(1);
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 86%;
      }
    }

    &_detail {
      display: none;

      &-show {
        display: block;
        height: 100%;
      }
    }
  }
}
