.t-signupJobPostings {
  &_desc {
    margin-top: rem(20);
  }
  &_button {
    max-width: rem(282);
    margin: auto;
    margin-top: rem(40);
    @include mobile-down {
      margin-top: rem(20);
    }
    .a-button {
      height: rem(55);
    }
  }
}