.t-homeNewsCard {
  @include adjust-flex(flex-start, center);
  background: $white;
  border: rem(1) solid $gainsboro;

  &_thumbnail {
    min-width: rem(194);

    @include small-mobile {
      min-width: rem(120);
    }
  }

  &_wrapper {
    padding: rem(24) rem(24) rem(20);
    width: 100%;

    @include mobile-down {
      padding: rem(15);
    }
  }

  &_title {
    @include text-overflow(2);

    @include small-mobile {
      display: none;
    }
  }

  &_content {
    margin-top: rem(8);
    opacity: 0.8;

    @include text-overflow(2);
  }

  &_divider {
    background: $arsenic;
    height: rem(1);
    margin: rem(16) 0;
    opacity: 0.2;
    width: 100%;

    @include mobile-down {
      margin: rem(10) 0;
    }
  }

  &_general {
    @include adjust-flex(space-between, center);
  }

  &_date {
    opacity: 0.6;
  }

  &_view {
    @include adjust-flex(space-between, center);

    span {
      cursor: pointer;
    }

    &_total {
      margin-left: rem(8);
      opacity: 0.6;
    }
  }
}

.t-homeNews {
  &_title {
    .a-heading {
      width: 100%;
    }
  }

  &_empty {
    margin-top: rem(16);
    width: 100%;
  }

  &_wrapper {
    margin-top: rem(24);

    .a-loader-circle {
      margin-top: rem(50);
    }

    .o-tabs {
      margin: 0 auto;
      max-width: calc(100% - 300px);

      @include tablet-down {
        max-width: calc(100% - 200px);
      }

      @include small-mobile {
        max-width: calc(100% - 130px);
      }
    }

    &_cover {
      position: relative;

      .slick-arrow {
        height: rem(48);
        width: rem(48);

        @include small-mobile {
          height: rem(30);
          width: rem(30);
        }
      }

      &_prev {
        left: 60px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include tablet-down {
          left: 10px;
        }

        @include small-mobile {
          left: 0;
        }
      }

      &_next {
        position: absolute;
        right: 60px;
        top: 50%;
        transform: translateY(-50%);

        @include tablet-down {
          right: 10px;
        }

        @include small-mobile {
          right: 0;
        }
      }

      .o-tabs_labels::-webkit-scrollbar {
        display: none;
      }

      .o-tabs_labels {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }
  }

  &_list {
    @include adjust-flex(flex-start, center);
    flex-wrap: wrap;
    margin-top: rem(20);
    @include tablet-down {
      margin-top: rem(6);
    }
    @include small-mobile {
      margin-bottom: rem(-14);
    }
  }

  &_content {
    flex: 0 0 50%;

    @include tablet-down {
      flex: 0 0 100%;
    }

    @include small-mobile {
      padding: rem(14) 0;
    }

    &_titleMobile {
      display: none;

      @include small-mobile {
        display: block;
        width: 100%;
        @include text-overflow(4);
      }
    }
  }

  &_item {
    flex: 0 0 50%;
    padding: rem(16);

    @include tablet-down {
      flex: 0 0 100%;
      padding: rem(10) 0;
    }
  }

  &_button {
    margin: rem(32) auto 0;
    max-width: rem(202);

    .a-button {
      @include font-base(14, 20);

      @include mobile-down {
        @include font-base(12, 16);
      }
    }

    @include mobile-down {
      margin: rem(20) auto 0;
    }
  }
}
