.o-tabsBg {
  $root: &;

  &_labels {
    align-items: center;
    border-radius: rem(0);
    border-bottom: rem(1) solid $dark-midnight-blue;
  }

  &_label {
    display: flex;
    align-items: center;
  }

  &_image {
    display: unset;
    width: rem(40);
    margin-right: rem(8);

    .a-icon {
      width: rem(40);
    }
  }

  &_tab {
    cursor: pointer;
    width: rem(276);
    padding: rem(16) 0 rem(16) rem(16);
    border: rem(1) solid $columbia-blue;
    background-image: url('~assets/images/Tabs/bg-tab.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    &-active {
      background-image: url('~assets/images/Tabs/bg-tab-active.png');    
      border: 1px solid $dark-midnight-blue;

      &::after {
        display: none;
      }
      
      #{$root}_label {
        .a-text {
          color: $white;
        }
      }
    }
  }
  

  &_panel {
    display: none;

    &-active {
      display: block;
    }
  }
}
