.t-filterRecruitment {
  $root: &;

  &_desc {
    margin-top: rem(16);
  }

  &_tab {
    $tab: &;
    background: $glitter04;
    border-radius: rem(5);
    margin: rem(40) auto 0;
    max-width: rem(325);
    @include desktop-up {
      max-width: rem(930) !important;
    }
    @include tablet-up {
      @include adjust-flex(unset, center);
    }
    @include mobile-up {
      max-width: rem(675);
    }

    &_item {
      position: relative;
      width: 100%;

      &::before {
        background-color: $white03;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        
        @include tablet-up {
          height: rem(28);
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
        }
      }
      

      &:first-child {
        border-bottom-left-radius: rem(5);
        border-top-left-radius: rem(5);

        &::before {
          display: none;
        }
      }

      &.minimize {
        @include tablet-up {
          width: 37%;
        }
      }

      &-active {
        background-color: $camel;
        z-index: 1;

        #{$root}_label {
          font-weight: 600;
          
        }

        &::before {
          display: none;
        }
      }
    }

    &_button {
      @include tablet-up {
        width: 40%;
      }

      .a-button {
        @include tablet-up {
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;

          &::before {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }
        }
        @include tablet-down {
          border-top-left-radius: 0;
          border-top-right-radius: 0;

          &::before {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
    }

    &-pulldown {
      min-width: rem(149);
      padding: rem(11) 0;
      width: 100%;

      @include tablet-down {
        padding: rem(5) 0;
      }
    }

    .m-pulldown {
      background: transparent;
      border: none;
      color: $white;

      &-default {
        &__placeholder {
          color: $white;
        }

        &__option {
          background-color: $white;
          color: $rich-black;

          &:hover {
            background-color: $camel;
          }
        }
      }

    }
  }
}
