.p-news {
  &_cateBlock {
    &:nth-child(even) {
      background: $white-smoke2;
    }

    .t-homeNews_button {
      max-width: none;
      width: auto;
    }
  }

  &_latestNews {
    padding-top: rem(120);

    @include tablet-down {
      padding-top: rem(96);
    }
  }
}
