.p-news {
  &_latestNews {
    margin-top: rem(30);
  }

  &_cateBlock {
    &:nth-child(even) {
      background: $white-smoke2;
    }

    .t-homeNews_button {
      max-width: none;
      width: auto;
    }
  } 
}
