.o-reportCard {
  $root: &;

  border: rem(1) solid $light-gray;

  &_wrapimg {
    max-width: rem(376px);
    width: 100%;
  }

  &_wrapcontent {
    padding: rem(24);
  
    @include small-mobile {
      padding: rem(10);
    }
  }

  &_icon {
    background-image: url('~assets/icons/ic_download.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(20);
    margin-left: rem(10);
    width: rem(20);
  }

  &_wrapdownload {
    align-items: center;
    cursor: pointer;
    display: flex;
    margin-top: rem(24);

    @include small-mobile {
      margin-top: rem(15);
    }

    &:hover {
      .a-text {
        text-decoration: underline;
      }
      
      #{$root}_icon {
        background-image: url('~assets/icons/ic_download-active.svg');
      }
    }
  }
}
