.a-button {
  $root: &;
  align-items: center;
  border: 1px solid $golden-brown;
  border-radius: 2px;
  display: flex;
  font: inherit;
  font-weight: 400;
  height: rem(50);
  justify-content: center;
  outline: 0;
  overflow: hidden;
  padding: rem(14) rem(16);
  position: relative;
  transition: $transition-long ease;
  width: 100%;
  @include font-base(16, 24);

  &-primary {
    background-color: $camel;
    border: 0;
    border-radius: rem(5);
    box-shadow: 0 2px 0 $black0043;
    color: $white;
    @include prefixed(transition-property, color);
    @include prefixed(transition-duration, 0.3s);
    @include prefixed(transform, perspective(1px) translateZ(0));

    &::before {
      background: $white;
      border: 1px solid $camel;
      border-radius: rem(5);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      @include prefixed(transform, scaleX(0));
      @include prefixed(transform-origin, 50%);
      @include prefixed(transition-property, transform);
      @include prefixed(transition-duration, 0.3s);
      @include prefixed(transition-timing-function, ease-out);
    }
    
    &:hover {
      background-color: $white;
      border: 0;
      color: $camel;
      
      &::before {
        @include prefixed(transform, scaleX(1));
      }
    }
  }

  &-secondary {
    background-color: $gainsboro;
    border-color: $gainsboro;
    box-shadow: 0 2px 0 $black0016;
    color: $black085;
    @include prefixed(transition-property, color);
    @include prefixed(transition-duration, 0.3s);
    @include prefixed(transform, perspective(1px) translateZ(0));

    &::before {
      background: $white;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      @include prefixed(transform, scaleX(0));
      @include prefixed(transform-origin, 50%);
      @include prefixed(transition-property, transform);
      @include prefixed(transition-duration, 0.3s);
      @include prefixed(transition-timing-function, ease-out);
    }
  
    &:hover {
      color: $metallic-sunburst;
  
      &::before {
        @include prefixed(transform, scaleX(1));
      }
    }
  }
  
  &-outline {
    background-color: $white;
    border-color: $metallic-sunburst;
    box-shadow: 0 2px 0 $black0016;
    color: $metallic-sunburst;
    @include prefixed(transition-property, color);
    @include prefixed(transition-duration, 0.3s);
    @include prefixed(transform, perspective(1px) translateZ(0));

    &::before {
      background: $golden-brown;
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      @include prefixed(transform, scaleX(0));
      @include prefixed(transform-origin, 50%);
      @include prefixed(transition-property, transform);
      @include prefixed(transition-duration, 0.3s);
      @include prefixed(transition-timing-function, ease-out);
    }
  
    &:hover {
      color: $white;
  
      &::before {
        @include prefixed(transform, scaleX(1));
      }
    }
  }

  &-with-icon {
    background-color: transparent;
    border: 0;
    color: $golden-brown;
    height: rem(32);
    width: auto;
    @include font-base(14, 22);

    .a-icon {
      margin-right: rem(8);
    }
  }

  &-outlinePaleGold {
    background-color: transparent;
    border-color: $pale-gold;
    border-radius: rem(5);
    color: $pale-gold;

    &:hover {
      background-color: rgba($spanish-gray, 0.1);
    }

    &:active {
      background-color: transparent;
      border-color: $cafe-au-lait;
      color: $cafe-au-lait;
    }
  }

  &-camel {
    background-color: $camel;
    border: 0;
    border-radius: rem(5);
    color: $white;
    @include prefixed(transition-property, color);
    @include prefixed(transition-duration, 0.3s);
    @include prefixed(transform, perspective(1px) translateZ(0));

    &::before,
    &::after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    &::before {
      background: $pale-gold;
      @include prefixed(transform, scaleX(0));
      @include prefixed(transform-origin, 50%);
      @include prefixed(transition-property, transform);
      @include prefixed(transition-duration, 0.3s);
      @include prefixed(transition-timing-function, ease-out);
    }

    &::after {
      background: $cafe-au-lait;
      opacity: 0;
    }
  
    &:hover {  
      &::before {
        @include prefixed(transform, scaleX(1));
      }
    }

    &:active {
      &::after {
        opacity: 1;
      }
    }
  }

  &-outlineWhile {
    background-color: rgba($white, 0.3);
    border-color: $white;
    border-radius: rem(5);
    color: $white;
    @include prefixed(transition-property, color);
    @include prefixed(transition-duration, 0.3s);
    @include prefixed(transform, perspective(1px) translateZ(0));

    &::before,
    &::after {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    &::before {
      background: rgba($white, 0.5);
      @include prefixed(transform, scaleX(0));
      @include prefixed(transform-origin, 50%);
      @include prefixed(transition-property, transform);
      @include prefixed(transition-duration, 0.3s);
      @include prefixed(transition-timing-function, ease-out);
    }

    &::after {
      background-color: $white;
      opacity: 0;
    }
  
    &:hover {  
      &::before {
        @include prefixed(transform, scaleX(1));
      }
    }

    &:active {
      color: $dark-midnight-blue;

      &::after {
        opacity: 1;
      }
    }
  }

  &-outlineSpanishGray {
    background-color: transparent;
    border-color: $spanish-gray;
    border-radius: rem(5);
    color: $spanish-gray;
    padding: rem(12) rem(30);
    @include prefixed(transition-property, color);
    @include prefixed(transition-duration, 0.3s);
    @include prefixed(transform, perspective(1px) translateZ(0));

    &::before {
      background: rgba($spanish-gray, 0.1);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
      @include prefixed(transform, scaleX(0));
      @include prefixed(transform-origin, 50%);
      @include prefixed(transition-property, transform);
      @include prefixed(transition-duration, 0.3s);
      @include prefixed(transition-timing-function, ease-out);
    }
  
    &:hover {  
      &::before {
        @include prefixed(transform, scaleX(1));
      }
    }

    &:active {
      border-color: $jet-333;
      color: $jet-333;
    }
  }

  //----SIZE----//
  &-h70 {
    height: rem(70);

    @include mobile-down {
      height: rem(55);
    }
  }

  &:disabled,
  &-loading {
    cursor: no-drop;
    &#{$root}-primary {
      background-color: rgba($golden-brown, 0.5);
    }
    &#{$root}-secondary {
      background-color: rgba($xanadu, 0.2);
    }
    &#{$root}-outline {
      background-color: rgba($amazon, 0.2);
      border-color: rgba($amazon, 0.2);
    }
    &#{$root}-outlinePaleGold,
    &#{$root}-camel,
    &#{$root}-outlineWhile {
      opacity: 0.5;
    }

    &::before {
      display: none;
    }
  }

  &-loading {
    img {
      width: rem(24);
    }
  }
}
