.t-mapInformationCard {
  background: url('~assets/images/MapInformation/ic_bg_mapCard.png') no-repeat;
  background-color: $white;
  background-size: contain;
  border-radius: rem(5);
  box-shadow: 0 rem(25) rem(50) $black01;
  padding: rem(60) rem(40);

  @include tablet-down {
    padding: rem(50) rem(35);
  }

  @include mobile-down {
    padding: rem(40) rem(30);
  }

  @include iphone-large-lands {
    padding: rem(40) rem(30);
  }

  &_location,
  &_email,
  &_phone {
    display: flex;
  }

  &_mbClose {
    background: $dim-gray;
    border-radius: rem(5);
    display: none;
    height: rem(20);
    left: rem(10);
    position: absolute;
    top: rem(10);
    width: rem(20);

    .a-icon {
      height: 100%;
      width: 100%;
    }

    @include mobile-down {
      display: block;
    }

    @include iphone-large-lands {
      display: block;
    }
  }
}

.t-mapInformation {
  height: 100%;
  position: relative;
  width: 100%;

  &_card {
    max-width: rem(448);
    max-width: rem(448);
    position: absolute;
    width: 100%;
    z-index: 2;
    z-index: 2;
    @include tablet-down {
      max-width: rem(348);
    }

    @include mobile-down {
      border-radius: rem(5);
      left: auto;
      max-height: calc(100vh - 230px);
      overflow-y: auto;
      position: absolute;
      right: -100%;
      top: rem(80);
      transition: 0.5s;
      width: 85%;
    }

    @include iphone-large-lands {
      border-radius: rem(5);
      left: auto;
      max-height: calc(100vh - 230px);
      overflow-y: auto;
      position: absolute;
      right: -100%;
      top: rem(80);
      transition: 0.5s;
      width: 85%;
    }

    &-isOpen {
      @include mobile-down {
        right: 0;
      }
      
      @include iphone-large-lands {
        right: 0;
      }
    }
  }

  &_wrapper {
    height: 100%;
    position: relative;
    width: 100%;
  }
}
