.t-productLines {
  overflow: hidden;

  &_title {
    margin-bottom: rem(36);
  }

  .slick-slide {
    height: auto;
  }
  
  .o-tabsBg_tab {
    max-height: rem(72);
    display: flex;
    align-items: center;

    .o-tabsBg_label  {
      > span {
        flex: 1;
        @include text-overflow(2);
      }
    }
  }
}