.m-listLogoProject {
  &_title {
    padding-bottom: rem(20);
    border-bottom: rem(1) solid $spanish-gray;

    .a-text {
      text-transform: capitalize;
    }
  }

  &_listLogo {
    margin-top: rem(20);
  }

  &_wraplogo {
    display: inline-block;
    margin-bottom: rem(40);

    &:nth-child(n+1) {
      margin-right: rem(60);  
    }
  }
}