.m-listLogoProject {
  &_title {
    border-bottom: rem(1) solid $spanish-gray;
    padding-bottom: rem(20);
    @include mobile-down {
      padding-bottom: rem(16);
    }
  }

  &_listLogo {
    flex-wrap: wrap;
    margin-left: rem(-30);
    margin-right: rem(-30);
    margin-top: rem(20);
    @include adjust-flex(flex-start, center);
    @include tablet-down {
      margin-left: rem(-24);
      margin-right: rem(-24);
    }

    .a-link {
      display: inline-block;
      flex: 0 0 calc(100% / 7);
      margin-bottom: rem(40);
      padding: 0 rem(30);

      img {
        max-width: 100%;
        width: 100%;
      }
      @include tablet-down {
        flex: 0 0 calc(100% / 4);
        margin-bottom: rem(32);
        padding: 0 rem(24);
      }
      @include mobile-down {
        flex: 0 0 calc(100% / 2);
        margin-bottom: rem(16);
      }
    }
  }
}
