.t-termsPolicy {
  $root: &;

  &_heading {
    padding-bottom: rem(40);

    @include mobile-down {
      padding-bottom: rem(24);
    }
  }

  &_content_ckeditor {
    list-style-position: inside;

    ol,
    ul,
    li {
      padding-left: rem(12);
    }

    img,
    video {
      max-width: 100%;
    }
  }

  &-isPageSustainableDevelopment {
    #{$root} {
      &_heading {
        margin: 0 auto;
        position: relative;
        width: fit-content;

        &::before {
          background: $tan;
          content: '';
          height: 3px;
          position: absolute;
          top: rem(-8);
          transform: translateX(50%);
          width: 50%;
        }
      }
    }
  }
}
