.t-termsPolicy {
  $root: &;

  &_heading {
    padding-bottom: rem(40);

    @include mobile-down {
      padding-bottom: rem(24);
    }
  }

  &_content_ckeditor {
    ol, ul, li {
      padding-left: rem(12);
    }

    img, video {
      max-width: 100%;
    }
  }

  &-isPageSustainableDevelopment {
    #{$root} {
      &_content {
        border-top: 3px solid $tan;
      }
    }
  }
}