.o-container {
  @include break-min($standard-viewport) {
    margin-left: auto;
    margin-right: auto;
    max-width: $standard-viewport;
    padding-left: rem(120);
    padding-right: rem(120);
  }

  &-noPaddingRight {
    padding-right: 0;
  }

  &-noPaddingLeft {
    padding-left: 0;
  }

  &-fullscreen {
    padding-left: 0;
    padding-right: 0;
  }

  &_row {
    @include break-min($standard-viewport) {
      margin-left: rem(-16) !important;
      margin-right: rem(-16) !important;
    }
  }

  &_col {
    @include break-min($standard-viewport) {
      padding-left: rem(16) !important;
      padding-right: rem(16) !important;
    }
  }
}
