.t-newsdetail {
  @include adjust-flex(space-between, flex-start);
  @include mobile-down {
    flex-direction: column;
  }

  &_leftSide {
    flex: 0 0 calc(756 / 1194 * 100%);
    @include mobile-down {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  &_rightSide {
    flex: 0 0 calc(348 / 1194 * 100%);
    @include mobile-down {
      flex: 0 0 100%;
      width: 100%;
    }
  }

  &_createdate {
    margin-bottom: rem(8);
  }

  &_statistical {
    align-items: center;
    display: flex;
    margin-top: rem(12);
  }

  &_circle {
    background-color: $columbia-blue;
    border-radius: 50%;
    height: rem(4);
    margin: 0 rem(12);
    width: rem(4);
  }

  &_view {
    align-items: center;
    display: flex;

    .a-icon {
      margin-right: rem(8);
    }
  }

  &_content,
  &_typesnews {
    margin-top: rem(30);

    @include tablet-up {
      margin-top: rem(40);
    }

    img {
      max-width: 100%;
    }
  }

  &_shortDesc {
    margin-bottom: rem(40);
  }

  &_content {
    &-desc {
      word-break: break-all;
      button {
        height: rem(45);
        width: rem(237);
        @include tablet-up {
          height: rem(56);
          width: rem(237);
        }
        @include tablet-up {
          background-color: $camel;
          border: 0;
          border-radius: rem(5);
          box-shadow: 0 2px 0 $black0043;
          color: $white;
          margin: rem(60) 0;
          @include prefixed(transition-property, color);
          @include prefixed(transition-duration, 0.3s);
          @include prefixed(transform, perspective(1px) translateZ(0));

          &::before {
            background: $white;
            border: 1px solid $camel;
            border-radius: rem(5);
            bottom: 0;
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            @include prefixed(transform, scaleX(0));
            @include prefixed(transform-origin, 50%);
            @include prefixed(transition-property, transform);
            @include prefixed(transition-duration, 0.3s);
            @include prefixed(transition-timing-function, ease-out);
          }

          &:hover {
            background-color: $white;
            border: 0;
            color: $camel;

            &::before {
              @include prefixed(transform, scaleX(1));
            }
          }
        }
      }
    }
  }

  &_typesnews {
    margin-bottom: rem(24);
    margin-top: rem(24);
    @include mobile-up {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    @include tablet-up {
      margin-bottom: rem(0);
    }

    &-list {
      display: flex;

      .a-tag {
        &:nth-child(n + 2) {
          margin-left: rem(12);
        }
      }
    }

    &-social {
      display: flex;
      margin-top: rem(8);

      button {
        &:nth-child(n + 1) {
          margin-left: rem(8);
        }
      }

      &-twitterShare {
        display: inherit;
        margin-top: 0;

        button {
          display: unset;
        }
      }
      @include tablet-up {
        margin-top: rem(0);
      }

      .a-link {
        margin-right: rem(8);

        @include tablet-up {
          margin-left: rem(8);
          margin-right: rem(0);
        }
      }
    }
  }

  &_subinfo {
    margin-top: rem(12);

    .a-divider {
      margin: rem(12) 0;
    }
  }

  &_hotnews,
  &_keyword {
    margin-top: rem(40);
  }

  &_listkey {
    margin-top: rem(12);

    .a-tag {
      display: inline-block;
      margin-bottom: rem(12);
      margin-right: rem(12);
    }
  }
}
