.t-newsdetail {
  &_createdate {
    margin-bottom: rem(8);
  }

  &_statistical {
    align-items: center;
    display: flex;
    margin-top: rem(12);
  }

  &_circle {
    background-color: $columbia-blue;
    border-radius: 50%;
    height: rem(4);
    margin: 0 rem(12);
    width: rem(4);
  }

  &_view {
    align-items: center;
    display: flex;

    .a-icon {
      margin-right: rem(8);
    }
  }

  &_content,
  &_typesnews {
    margin-top: rem(30);

    @include tablet-up {
      margin-top: rem(40);
    }

    img {
      max-width: 100%;
    }
  }

  &_shortDesc {
    margin-bottom: rem(40);
  }

  &_viewbtn {
    display: flex;
    justify-content: center;
    margin: rem(30) 0;

    .a-button {
      height: rem(45);
      width: rem(237);

      @include tablet-up {
        height: rem(56);
        width: rem(237);
      }
    }
    
    @include tablet-up {
      margin: rem(60) 0;
    }
  }

  &_typesnews {
    margin-bottom: rem(24);
    margin-top: rem(24);

    @include mobile-up {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
        
    @include tablet-up {
      margin-bottom: rem(0);
    }

    &-list {
      display: flex;

      .a-tag {
        &:nth-child(n+2) {
          margin-left: rem(12);
        }
      }
    }

    &-social {
      display: flex;
      margin-top: rem(8);
        
      @include tablet-up {
        margin-top: rem(0);
      }

      .a-link {
        margin-right: rem(8);
        
        @include tablet-up {
          margin-left: rem(8);
          margin-right: rem(0);
        }
      }
    }
  }

  &_subinfo {
    margin-top: rem(12);

    .a-divider {
      margin: rem(12) 0;
    }
  }

  &_hotnews,
  &_keyword {
    margin-top: rem(40);
  }

  &_listkey {
    margin-top: rem(12);

    .a-tag {
      display: inline-block;
      margin-bottom: rem(12);
      margin-right: rem(12);
    }
  }
}
