.m-pulldown {
  position: relative;

  &_error {
    bottom: rem(-18);
    color: $sinopia;
    left: 0;
    position: absolute;
    @include font-base(12, 16);
  }

  &-default {
    &__menu {
      z-index: 9;
    }

    &__placeholder {
      @include mobile-down {
        font-size: rem(10) !important;
        line-height: rem(20);
      }
    }
  }
}
