.o-eventCardDetails {
  margin-bottom: rem(40);
  margin-top: rem(40);
  position: relative;

  @include mobile-down {
    margin-bottom: rem(20);
    margin-top: rem(20);
  }

  &_content {
    border: 1px solid $camel;
    display: flex;
    padding: rem(20) rem(30);

    @include tablet-down {
      flex-direction: column;
    }
  }

  &_left {
    flex: 1;

    &_item {
      @include adjust-flex(flex-start, flex-start);
      
      &:not(:first-child) {
        margin-top: rem(10);
      }

      .a-icon {
        margin-right: rem(10);
      }
    }
  }

  &_right {
    flex-basis: rem(250);
    flex-shrink: 0;
    @include adjust-flex();

    .a-button {
      @include font-base(14, 20);
      padding: rem(18) rem(30);
    }

    @include tablet-down {
      flex-basis: 100%;
      margin-top: rem(20);
    }
  }
}
