.m-infoproduct {
  background-color: $ghost-white;
  display: flex;
  justify-content: space-between;
  padding: rem(36);
  width: 100%;

  @include tablet-down {
    flex-direction: column;
  }

  &_wrapcontent {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  &_detail {
    align-items: center;
    display: flex;
    margin-top: rem(20);

    .a-text {
      margin-left: rem(20);
    }
  }

  &_imgdetail {
    max-width: rem(60);
    width: 100%;
  }

  &_wrapimg {
    margin-left: rem(36);
    max-width: rem(612);
    width: 100%;
    
    @include tablet-down {
      margin-left: rem(0);
      margin-top: rem(35);
    }
  }
}
