.t-bannerRecruitment {
  position: relative;
  background: $dark-midnight;
  z-index: -1;

  .a-image {
    max-height: rem(250);
  }

  &_info {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
  }
}