.t-fieldActivity {
  &_title {
    margin-bottom: rem(32);

    @include tablet-down {
      margin-bottom: rem(25);
    }

    @include mobile-down {
      margin-bottom: rem(20);
    }
  }

  &_image {
    width: 100%;
  }
}
