.p-aboutUs {
  &_investmentSector,
 
  &_investSector {
    padding-bottom: rem(80);

    @include tablet-down {
      padding-bottom: rem(60);
    }

    @include mobile-down {
      padding-bottom: rem(40);
    }
  }

  &_awardList,
 
  &_ecoSystem {
    padding-bottom: rem(80);
    padding-top: rem(80);
  
    @include tablet-down {
      padding-bottom: rem(60);
      padding-top: rem(60);
    }
  
    @include mobile-down {
      padding-bottom: rem(40);
      padding-top: rem(40);
    }
  }

  &_ecoSystem {
    background-color: $white-smoke2;
  }

  &_awardList {
    background-color: $white-smoke2;
  }
}
