.p-aboutUSContainer {
  &_investmentSector {
    margin-top: rem(100);
  }

  &_transportationInfrastructure {
    margin-top: rem(100);
  }

  &_developmentHistory {
    margin-top: rem(134);
  }
  &_awardList {
    .t-awardList {
      padding: rem(100) 0;
    }
  }
}
