.a-checkbox {
  cursor: pointer;
  display: inline-block;
  min-height: rem(24);
  padding-left: rem(34);
  position: relative;

  &_input {
    appearance: none;
    background: url('~assets/icons/ic_check.svg') 0 0 no-repeat;
    cursor: inherit;
    height: rem(24);
    left: 0;
    position: absolute;
    top: rem(-3);
    transition: $transition;
    width: rem(24);

    
    &:checked {
      background: url('~assets/icons/ic_checked.svg') 0 0 no-repeat;
    }
  }

  &_label {
    @include font-base(12, 17);
    color: $dim-gray;
    cursor: inherit;
    display: inline-block;
    font-weight: 300;
    padding: rem(3.5) 0;
  }
}
