.o-sdMenu {
  $root: &;
  background: url('~assets/images/bg_sustainableDevelopmentMenu.png') right/contain no-repeat, linear-gradient(180deg, $tan 0%, $light-taupe 214.94%);
  box-shadow: 0px rem(4) rem(16) rgba($dark-liver-horses, 0.16);

  @include tablet-down {
    box-shadow: none;
    background: none;
  }

  &_menu {
    @include tablet-down {
      box-shadow: 0px rem(4) rem(16) rgba($dark-liver-horses, 0.16);
      background: $white;
    }

    ul {
      margin: 0;
    }
  }

  &_nav {
    list-style: none;
    padding-left: 0;
    @include adjust-flex(space-between, center);
    margin-left: rem(-20);
    margin-right: rem(-20);

    @include desktop-down {
      margin-left: rem(-10);
      margin-right: rem(-10);
    }

    @include tablet-down {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @include tablet-down {
      margin-left: 0;
      margin-right: 0;
    }

    &-active {
      right: 0;
    }

    &_item {
      margin-bottom: 0;
      position: relative;
      padding-left: rem(10);
      padding-right: rem(10);

      &:hover {
        #{$root}_dropdown {
          visibility: visible;
          max-height: rem(320);
        }
      }

      @include desktop-down {
        padding-left: rem(5);
        padding-right: rem(5);
      }

      @include tablet-down {
        padding: 0;
        width: 100%;
      }
    }

    &_link {
      color: $white;
      display: block;
      font-weight: 400;
      padding: rem(28) 0;
      position: relative;
      text-transform: capitalize;
      z-index: $z-2;
      transition: all 0.4s linear;

      @include font-base(14, 20);
      @include style-font-family();

      @include desktop-down {
        padding: rem(20) 0;
      }

      @include tablet-down {
        color: $spanish-gray;
        padding: rem(24) rem(16);
        @include font-base(20, 22);
      }

      @include mobile-down {
        @include font-base(14, 20);
      }

      &:hover,
      &.active {
        color: $dark-midnight-blue;
        opacity: 1;
        font-weight: 600;

        &::after {
          opacity: 1;
          width: calc(100% - 18px);
          @include desktop-down {
            width: calc(100% - 9px);
          }
        }
      }

      &.active {
        font-weight: 600;
      }
    }
  }

  &_hasChild {
    #{$root}_nav_link {
      &:after {
        width: 0%;
        background: url("~assets/icons/ic_arrow_down_white.svg") no-repeat;
        content: "";
        width: rem(16);
        height: rem(16);
        position: absolute;
        right: rem(-20);
        transform: translateY(-50%);
        transition: all ease 0.3s;
        top: 50%;

        @include desktop-down {
          right: rem(-15);
        }

        @include tablet-down {
          background: url("~assets/icons/ic_arrow_down_gray.svg") no-repeat;
          width: rem(24);
          height: rem(24);
          background-size: rem(24);
          right: rem(20);
        }
      }

      &:hover {
        font-weight: 400;

        @include tablet-down {
          background-color: $camel;
          color: $white;
        }
        &:after {
          transform: rotate(180deg) translateY(50%);

          @include tablet-down {
            background: url("~assets/icons/ic_arrow_down_white.svg") no-repeat;
            width: rem(24);
            height: rem(24);
            background-size: rem(24);
            right: rem(20);
          }
        }
      }

      &.active {
        font-weight: 600;
      }
    }

    &:hover {
      #{$root}_nav_link {
        @include tablet-down {
          background-color: $camel;
          color: $white;
        }

        &:after {
          background: url("~assets/icons/ic_arrow_down_white.svg") no-repeat;
          transform: rotate(180deg) translateY(50%);
          @include tablet-down {
            width: rem(24);
            height: rem(24);
            background-size: rem(24);
          }
        }
      }
    }
  }

  &_dropdown {
    @include tablet-up {
      background-color: $white;
      box-shadow: 0 rem(4) rem(16) rgba($dark-liver-horses, 0.16);
      border-radius: 0 0 rem(12) rem(12);
      left: 0;
      opacity: 1;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      visibility: hidden;
      z-index: 3;
      @include transition(all $transition-long ease-in-out);
    }

    @include tablet-down {
      max-height: 0;
      visibility: hidden;
      overflow: hidden;
      background-color: $light-french-beige-7d;
      @include transition(all $transition-long ease-in-out);

      .o-container {
        max-width: 100%;
      }
    }

    &_wrapper {
      @include tablet-up {
        padding: rem(16) rem(20);
      }
    }

    &_content {
      @include list-style-none;
    }

    &_item {
      font-weight: 400;
      min-width: rem(325);
      color: $jet;
      display: flex;
      @include font-base(14, 20);

      @include tablet-up {
        &:not(:first-child) {
          margin-top: rem(20);
        }

        @include transition(all $transition-long);
      }

      @include tablet-down {
        padding: rem(24);
        min-width: 0;
        @include font-base(14, 20);

        .a-icon {
          display: none;
        }
      }

      @include mobile-down {
        padding: rem(16) rem(16) rem(16) rem(32);
      }

      &_icon {
        @include tablet-down {
          display: none;
        }
      }
    }

    &_nav_link {
      transition: $transition-long ease;
      color: $jet;
      opacity: 1;
      &:hover {
        opacity: 1;
        color: $dark-midnight-blue;
        font-weight: 600;
      }

      @include tablet-down {
        color: $white;
      }
    }
  }
}
