.t-outStandingNumbers {
  background-color: $white-smoke-8f8;
  background-image: url('~assets/images/bg_outStandingNumbers.png');
  background-repeat: no-repeat;
  padding-bottom: rem(80);
  padding-top: rem(80);

  @include tablet-down {
    padding-bottom: rem(60);
    padding-top: rem(60);
  }

  @include mobile-down {
    padding-bottom: rem(40);
    padding-top: rem(40);
  }

  &_list {
    flex-wrap: wrap;
    @include adjust-flex(space-between, center);
    @include desktop-down {
      margin: rem(8) rem(-8) rem(-8);
      @include adjust-flex;
    }

    &-item,
    &-line {
      margin-top: rem(52);
      @include desktop-down {
        margin: rem(8) rem(-8) rem(-8);
      }
    }

    &-item {
      @include desktop-down {
        flex: 0 0 50%;
        padding: rem(8);
      }
    }

    &-line {
      border-top: 1px solid $camel;
      height: 1px;
      margin-top: rem(15);
      max-width: rem(60);
      width: 100%;

      @include desktop-down {
        max-width: rem(45);
      }

      @include desktop-down {
        margin-top: rem(-16);

        &-2,
        &-4 {
          display: none;
        }
      }

      @include small-mobile {
        display: none;
      }
    }
  }
}
